appdirs==1.4.0
awsebcli==3.7.7
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
biopython==1.67
bioservices==1.4.12
botocore==1.4.37
cement==2.8.2
click==6.6
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
easydev==0.9.25
Flask==0.11.1
gevent==1.1.1
greenlet==0.4.10
grequests==0.3.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
pandoc==1.0.0b2
pathspec==0.3.4
pexpect==4.2.0
ply==3.8
ptyprocess==0.5.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
requests==2.9.1
requests-cache==0.4.12
semantic-version==2.5.0
six==1.10.0
suds-jurko==0.6
texttable==0.8.4
untangle==1.1.0
webencodings==0.5
websocket-client==0.37.0
Werkzeug==0.11.10
wrapt==1.10.8
xmltodict==0.10.2
